@import 'bootstrap/dist/css/bootstrap.css';
body {
    background: url('../src/assets/git.png')no-repeat center;
    text-align: center;
    background-position: top;
}

h1 {
    float: left;
    text-align: center;
    margin-top: 13%;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

form input:hover {
    width: 100%;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 42%;
}

button:hover {
    width: 55%;
    transition: 1s ease;
}